body{
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.testimonials{
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;

}

.testimonials h2{
    font-size: 28px;
    margin-bottom: 40px;
    color: #222;
}

.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.testimonial-card{
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    padding: 25px;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.testimonial-card:hover{
    transform: translateY(-5px);
}

.testimonial-card p{
    font-style: italic;
    margin-bottom: 15px;
}

.testimonial-card h4{
    font-weight: normal;
    color: #555;
}

@media  screen and (max-width:768px) {

    .testimonial-container{
        align-items: center;
        flex-direction: column;
    }
    
}